* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    background-color:#F5F5F5;
}
#chatbox {
    max-width: 423px;
    margin: 20px auto ;
    background-color: #F5F5F5;
}

#chatbox .header {
    padding: 20px ;
    display: flex;
    align-items: center;
    gap: 0px;
    background-color: #3047EC;
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px;
    z-index: 1;
    position: relative;
}
#chatbox .header .header-icon {
    padding-right: 35px;
}
#chatbox .header-img img {
    width: 2.8em;
    height: 2.8em;
}
#chatbox .header .header-img svg {
    position: relative;
    top: -1px;
    left: -16px;
}
#chatbox .header .header-txt h3 {
    color: #fff;    
    font-family: Inter;
    font-size: 1.125em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125em;
    padding-bottom: 3px;
}
#chatbox .header .header-txt p {
    color: #f8f8f8;    
    font-family: Inter;
    font-size: 0.875em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125em; 
}
#chatbox .main {
    padding: 0 20px;
    border-bottom: 2px solid  #EBEBEB;
    background-color: #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#chatbox .bot, .hannah{
    padding: 0 0 14.8px 0;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    position: relative;
    top:-25px;
    
}
#chatbox .bot .bot-img {
    position: relative;
}
#chatbox .bot .bot-img .img-2 {
    position: absolute;
    top: 5px;
    left: 8px;
}

#chatbox .bot .bot-txt, .hannah-txt {
    background-color: #F2F2F2;
    padding: 16px 18px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#chatbox .bot-txt p {
    color:  #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}
#chatbox .senders-txt, .senders-txt-last {
    margin-left: 34%;
    background-color:#3047EC;
    padding: 16px 18px;
    border-radius: 6px;
    margin-bottom: 14.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-25px;
}
#chatbox .senders-txt p, .senders-txt-last p {
    color: #fff;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}
#chatbox .main .hannah {
    padding: 0 0 5px 0;
}
#chatbox .main h4 {
    padding-left: 42px;
    color: #737376;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    padding-bottom: 14.8px;
    position: relative;
    top:-25px;
}
#chatbox .main hr {
   min-width: 423px;
   position: relative;
   left: -20px;
   top: -28px;
}
#chatbox .main .senders-txt-last {
    margin-left: 40%;
    margin-bottom: 5px;

}
#chatbox .main .last-h4 {
    margin-left: 50%;
}
#chatbox .main .text-area {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    top: -15px;
}
#chatbox .main .text-area-img {
    display: flex;
    gap: 10px;
}
#chatbox .main .text-area input {
    padding: 5px 120px 10px 0px;
    border: 1px solid #fff;
}
#chatbox .bottom-icon {
    position: relative;
    left: 28px;
    top: -8px;
    max-width: 423px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}